.education-personal-technical-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 20px;

  .education-card {
    margin-top: 20px;
    flex: 1;
    &__header {
      @include section-header-title;
    }
    .education-card__item--b-border {
      border-bottom: 4px solid #dcdcdc;
    }
    &__item {
      padding-bottom: 16px;
      margin-bottom: 16px;
      font-weight: 400;
      text-transform: uppercase;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .personal-skills-card {
    margin-top: 20px;
    flex: 1;
    &__header {
      @include section-header-title;
    }
    &__items {
      text-align: center;
      display: inline-flex;
      flex-direction: column;
      text-transform: uppercase;
      gap: 32px;
    }
  }
  .technical-skills-card {
    margin-top: 20px;
    flex: 1;
    &__header {
      @include section-header-title;
    }
    &__items {
      text-align: center;
      display: flex;
      gap: 32px;
      flex-direction: column;
      text-transform: uppercase;
    }
  }
}

// SMALL - SM

@media screen and (min-width: 640px) {
  .education-personal-technical-wrapper {
    flex-wrap: wrap;
    .education-card {
      min-width: 250px;
    }
    .personal-skills-card {
      min-width: 250px;
    }
    .technical-skills-card {
      min-width: 250px;
    }
  }
}

// MEDIUM - MD

@media screen and (min-width: 768px) {
  .education-personal-technical-wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 0px 64px;
  }
}
