html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 18px;
  margin: 0 auto;
  max-width: 1920px;
  padding-top: 64px;
  scroll-behavior: smooth;
}

main {
  margin: 0 2%;
}

button {
  cursor: pointer;
}
