.product-information {
  margin-top: 64px;
  &__content {
    max-width: 476px;
    text-align: center;
    margin: auto;
    text-align: center;
    line-height: 20px;
    font-weight: 300;
    padding: 0px 20px 0px;
  }
}
