.education-header {
  @include section-header-title;
  margin: 0 20px;
  margin-top: 20px;
  &__hr {
    margin: 0 20px;
    margin-bottom: 28px;
  }
}

.work-experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px;
  margin-top: 16px;
  gap: 8px;
  .work-experience-card {
    font-size: 16px;
    line-height: 24px;
    border-bottom: 2px solid #dcdcdc;
    margin-bottom: 28px;
    padding-right: 20px;
    padding-bottom: 20px;
    flex: 1;
    min-width: 250px;
    &__header {
      text-align: center;
    }
    &__content {
      margin-top: 28px;
    }
    &__content li {
      list-style-type: disc;
      list-style-position: inside;
    }
  }
  .work-experience-card:last-of-type {
    border-bottom: none;
  }
}

@media screen and (min-width: 640px) {
}

// MEDIUM - MD

@media screen and (min-width: 768px) {
  .work-experience-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0px 64px;
    .work-experience-card {
      border-bottom: none;
    }
    .work-experience-card:nth-of-type(2) {
      border-left: 2px solid #dcdcdc;
      padding-left: 15px;
      padding-right: 5px;
      border-right: 2px solid #dcdcdc;
    }
  }
}

@media screen and (max-width: 996px) {
  .work-experience-wrapper {
    .work-experience-card:nth-of-type(2) {
      border-left: 0px;
      border-right: 0px;
    }
  }
}
